.nav-1{
    background-color: #2d3e50 !important;
    font-size: 1.25rem;
    font-weight: 600;
}

.avatar-container{
    background-color: #1bbc9b;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.start-text{
    font-size: 3.5rem;
    font-weight: 400;
}

.avatar-container p{
    font-size: 1.5rem;
}
 
.portfolio-1{
    padding-top: 5rem;
    padding-bottom: 3rem;
    font-size: 3rem;
}

.portfolio-img{
    padding-bottom: 2.5rem;
}
.about-sir{
    background-color: #1bbc9b;
    padding-top: 2rem;
    padding-bottom: 5rem;
    margin-top: 1.5rem;
}
.about-sir p{
    font-size: 1.25rem;
    text-align: left;
    padding: 1rem;
}
.about-sir h2{
    font-size: 40px;
    border-bottom: 1px solid #ffffff;
    display: inline-flex;
    padding-bottom: 0.3rem;
}
.about-btn{
    background-color:#1bbc9b;
    color: #ffffff;
    padding: 1rem 1.75rem;
    border: 2px solid #ffffff;
    font-size: 20px;
}
.about-btn:hover{
    background-color: #ffffff ;
    color: black;
}
.footer{
    background-color: #2d3e50;
    padding-top: 4rem;
    padding-bottom: 5rem;
    color: #ffffff;
    font-size: 1.5rem;
}
.footer p{
    font-size: 1.5rem;
}
.footer h3{
    font-size: 1.5rem;
    border-bottom: 1px solid #ffffff;
    display: inline-flex;
    padding-bottom: 0.3rem;
}
.footer-link{
    color: #1bbc9b;
}

.footer-link:hover{
    color: #1f7c6a;
}
.copy{
    background-color: #1b252f;
    padding-top: 1.25rem;
    padding-bottom: 0.5rem;
}

.nav-link:hover{
    color: #1bbc9b !important;
}
